<template name="brandPage">
  <head>
  </head>
  <body>
    <div class="container">
	    <div class="border">
          <div class="topBar">
            <div class="backBtn" id="backBtn">
              <span class="glyphicon glyphicon-menu-left arrowL"></span>
              <span class="arrowR">Back</span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <img class="badges" src="../img/alfa.jpg">
            </div>
            <div class="col-lg-2">
              <img class="badges" src="../img/audi.jpg">
            </div>
            <div class="col-lg-2">
              <img class="badges" src="../img/bmw.jpg">
            </div>
            <div class="col-lg-2">
              <img class="badges" src="../img/caddi.jpg">
            </div>
            <div class="col-lg-2">
              <img class="badges" src="../img/fiat.jpg">
            </div>
            <div class="col-lg-2">
              <img class="badges" src="../img/ford.jpg">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <img class="badges" src="../img/honda.jpg">
            </div>
            <div class="col-lg-2">
              <img class="badges" src="../img/hyundai.jpg">
            </div>
            <div class="col-lg-2">
              <img class="badges" src="../img/jaguar.jpg">
            </div>
            <div class="col-lg-2">
              <img class="badges" src="../img/kia.jpg">
            </div>
            <div class="col-lg-2">
              <img class="badges" src="../img/mazda.jpg">
            </div>
            <div class="col-lg-2">
              <img class="badges" src="../img/merc.jpg">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <img class="badges" src="../img/porsche.jpg">
            </div>
            <div class="col-lg-2">
              <img class="badges" src="../img/renault.jpg">
            </div>
            <div class="col-lg-2">
              <img class="badges" src="../img/rr.jpg">
            </div>
            <div class="col-lg-2">
              <img class="badges" src="../img/saab.jpg">
            </div>
            <div class="col-lg-2">
              <img class="badges" src="../img/toyota.jpg">
            </div>
            <div class="col-lg-2">
              <img class="badges" src="../img/volks.jpg">
            </div>
          </div>
	    </div>
    </div>
  </body>
</template>