.border {
	border: 5px solid #92FF9B;
	border-radius: 15px;
	height: 700px;
	width: 910px;
	margin: 0 115px;
	text-align: center;
	color: #66B36D;
	font-size: 16px;
	overflow: hidden;
}

header img {
	border-bottom: 5px solid #92FF9B;
	margin-bottom: 50px;
}

.button {
	padding: 10px 20px;
	font-size: 36px;
	border: none;
	background-color: white;
	border: 5px solid #92FF9B;
	border-radius: 15px;
	margin-top: 50px;
}

.button:hover {
	background-color: #92FF9B;
	color: white;
}

.badges {
	border: 3px solid #92FF9B;
	border-radius: 10px;
	margin: 10px 0 20px 0;
	cursor: pointer;
}

.badges:hover {
	border-radius: 100px;
}

.arrowL, .arrowR {
	float: left;
	font-size: 18px;
	color: white;
	margin: 12px 0 0 10px;
}

.arrowR {
	margin: 10px 0 0 10px;
}

.topBar {
	height: 50px;
	background-color: #92FF9B;
}

.backBtn {
	cursor: pointer;
}

.register, .login {
	font-size: 14px;
}

.register, .login {
	width: 587px;
	margin: 0 auto;
}

.register p, .login p {
	float: left;
	margin-right: 20px;
}

.regBtn {
	background-color: #92FF9B;
	border: 1px solid #92FF9B;
	border-radius: 10px;
	color: white;
}

.regBtn:hover {
	background-color: white;
	color: #66B36D;
}

header a {
	color: white;
	padding: 5px;
	border-radius: 10px;
}

header a:hover {
	color: #66B36D;
	text-decoration: none;
	background-color: white
}

header ul {
	color: white;
	list-style: none;
	float: right;
}

header ul li {
	float: left;
	padding: 10px;
	font-size: 14px;
}

.h2 {
	font-size: 18px;
	margin-bottom: 20px;
}

.regBorder {
	border-top: 1px solid #92FF9B;
	border-bottom: 1px solid #92FF9B;
	padding-bottom: 55px;
	margin-top: 30px;
}