body {
	color: #66B36D;
	background-color: black;
}

.border {
	border: 5px solid #66B36D;
	border-radius: 15px;
	width: 910px;
	margin: 0 auto;
	text-align: center;
	color: #66B36D;
	font-size: 16px;
}

header img {
	border-bottom: 5px solid #66B36D;
	margin-bottom: 50px;
}

.button {
	padding: 10px 20px;
	font-size: 36px;
	border: none;
	background-color: black;
	border: 5px solid #66B36D;
	border-radius: 15px;
	margin: 50px 0 35px 0;
	color: #66B36D;
}

.button:hover {
	background-color: #66B36D;
	color: black;
}

.topBar {
	height: 50px;
	background-color: #66B36D;
}

.register, .login {
	font-size: 14px;
}

.register, .login {
	width: 587px;
	margin: 0 auto;
}

.register p, .login p {
	float: left;
	margin-right: 20px;
}

.regBtn {
	background-color: black;
	border: 1px solid #66B36D;
	border-radius: 5px;
	color: #66B36D;
}

.regBtn:hover {
	background-color: #66B36D;
	color: black;
}

header a {
	color: black;
}

header a:hover {
	color: white;
	text-decoration: none;
}

header ul {
	color: white;
	list-style: none;
	float: right;
}

header ul li {
	float: left;
	padding: 10px;
	font-size: 14px;
}

.h2 {
	font-size: 18px;
	margin-bottom: 20px;
}

.regBorder {
	border-top: 1px solid #66B36D;
	border-bottom: 1px solid #66B36D;
	padding-bottom: 55px;
	margin: 30px 0 30px 0;
}

input {
	background-color: black;
	border: 1px solid #66B36D;
}

input:focus {
	outline: none;
}

.selected {
	display: none;
}

select {
	width: 150px;
	height: 30px;
	font-size: 18px;
	border: 1px solid #66B36D;
	background-color: black;
	margin: 6px;
}

select:focus {
	outline: none;
}

.select {
	display: block;
}