<template name="searchPage">
  <body>
    <h2 class="h2">Choose Your Car</h2>
    <div class="select">
      <select id="brand">
        <option class="selected" selected>Brand</option>
        {{#each cars}}
          <option>{{name}}</option>
        {{/each}}
      </select>
      <select id="model">
        <option class="selected" selected>Model</option>
        {{#each models}}
          <option>{{name}}</option>
        {{/each}}
      </select>
      <select id="years">
        <option class="selected" selected>Year</option>
        {{#each years}}
          <option>{{this}}</option>
        {{/each}}
      </select>
    </div>
    <button type="button" class="button">Go!</button>
  </body>
</template>